@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');



body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: lightslategray;
  
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2d98da;
  padding: 0 30px;
}

.heading h1 {
  font-family: 'New Tegomin', serif;
  font-size: 2rem;
  font-weight: bold;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.episode {
  width: 30%;
  margin: 1rem 0.7%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.45);
  padding: 0.625rem;
  background-color: #fff;
}

.episode a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.episode a:hover {
  color: red;
}

.title {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 1rem 0px;
  background-color: #2d98da;
  color: #fff;
  cursor: pointer;
}

.title-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
}

.title:hover {
  background-color: rgb(243, 163, 13);
}

#search-container {
  position: relative;
  background-color: #2d98da;
  height: 5rem;
}

#searchBar {
  outline: none;
  width: 45%;
  height: 2rem;
  border: 1px solid #cacaca;;
  border-radius: 30px;
  padding: 0.3125rem 0.625rem;
  font-size: 1.1rem;
  box-shadow: inset 0 1px 2px rgb(10 10 10 / 10%);
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

#search-container::after {
  content: '🔍';
  position: absolute;
  top: -3.4375rem;
  right: 4.1875rem;
}

#count {
  position: absolute;
  top: 1.6875rem;
  right: 4.75rem;
  color: white;
  font-weight: bold;
}


#dropdownMenu {
  height: 2.8125rem;
  width: 30%;
  position: absolute;
  top: 0.9375rem;
  left: 31.5625rem;
  border-radius: 2rem;
  font-size: 1rem;
  outline: none;
}

#dropdownShow {
  height: 2.8125rem;
  width: 30%;
  position: absolute;
  top: 0.9375rem;
  left: 1.5625rem;
  border-radius: 2rem;
  font-size: 1rem;
  outline: none;
}

.dropdown {
  display: none;
}
