@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: lightslategray;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.episode {
  width: 30%;
  margin: 1rem 0.7%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.45);
  padding: 0.625rem;
  background-color: #fff;
}

.episode a {
  text-decoration: none;
}

.title {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 1rem 0px;
  background-color: rgba(40, 153, 40, 0.877);
  color: #fff;
  cursor: pointer;
}

.title-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
}

.title:hover {
  background-color: rgb(243, 163, 13);
}

#search-container {
  position: relative;
  background-color: rgba(40, 153, 40, 0.877);
  height: 5rem;
}

#searchBar {
  width: 20%;
  height: 2rem;
  position: absolute;
  top: 1rem;
  left: 45.125rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 0.3125rem 0.625rem;
  font-size: 1rem;
}

#search-container::after {
  content: '🔍';
  position: absolute;
  top: 1.5625rem;
  right: 22.1875rem;
}

#count {
  position: absolute;
  top: 1.6875rem;
  right: 4.75rem;
  color: white;
  font-weight: bold;
}


#dropdownMenu {
  height: 2.8125rem;
  width: 25%;
  position: absolute;
  top: 0.9375rem;
  left: 23.5625rem;
  border-radius: 10px;
  font-size: 1rem;
   
}

#dropdownShow {
  height: 2.8125rem;
  width: 25%;
  position: absolute;
  top: 0.9375rem;
  left: 1.5625rem;
  border-radius: 10px;
  font-size: 1rem;
}
